.email-signature{
    background: #fff;
    font-family: 'Muli', sans-serif;
    padding: 20px 0 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}
.email-signature:before{
    content: "";
    background: #2E4044;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.email-signature .signature-icon{
    color: #C2E7DF;
    background-color: #fff;
    font-size: 65px;
    text-align: center;
    line-height: 95px;
    width: 120px;
    height: 120px;
    border: 10px solid #C2E7DF;
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    position: absolute;
    top: 26px;
    left: 50%;
}
.email-signature .signature-details{
    color: #C2E7DF;
    border: 2px solid #C2E7DF;
    width: calc(50% - 10px);
    padding: 20px 70px 20px 20px;
    margin: 24px 0 0 10px;
    border-radius: 50px;
    vertical-align: top;
    display: inline-block;
}
.email-signature .title{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}
.email-signature .title span{ font-weight: 700; }
.email-signature .post{
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.email-signature .signature-content{
    color: #2E4044;
    width: 49%;
    min-height: 120px;
    padding: 15px 10px 20px 70px;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.email-signature .signature-content li{
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 12px;
}
.email-signature .signature-content li:last-child{ margin: 0; }
.email-signature .signature-content li span{ margin-right: 6px; }
.email-signature .icon{
    background-color: #fff;
    padding: 5px 20px;
    margin: 0;
    border-radius: 0 20px 20px 0;
    list-style: none;
    position: absolute;
    left: 0;
    bottom: 15px;
}
.email-signature .icon li{ display: inline-block; }
.email-signature .icon li a{
    color: #2E4044;
    background-color: #C2E7DF;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease;
}
.email-signature .icon li a:hover{
    color: #C2E7DF;
    background-color: #2E4044;
}
@media screen and (max-width:576px) {
    .email-signature{ padding: 15px 15px 40px; }
    .email-signature:before{
        width: 100%;
        height: 173px;
    }
    .email-signature .signature-icon{ top: 105px; }
    .email-signature .signature-details{
        text-align: center;
        width: 90%;
        padding: 20px 20px 90px;
        margin: 0 auto 70px;
        display: block;
    }
    .email-signature .signature-content{
        text-align: center;
        width: 100%;
        padding: 0 10px;
        display: block;
    }
    .email-signature .icon{
        background-color: none;
        padding: 0;
        left: 50%;
        border-radius: 0;
        transform: translateX(-50%);
    }
}
